.App {
  padding-top: 30px;
  text-align: center;
}

.SearchForm-wraper{
  display: flex;
  justify-content: center;
}

.Results-wrapper{
  margin: 10px;
}

.MoviesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MoviesList-item{
  margin-bottom: 20px;
  width: 48%;
}