.App {
  padding-top: 0px;
  text-align: center;

}

.SearchForm-wraper {
  display: flex;
  justify-content: center;
}

.notification {
  margin-bottom: 0px !important;

}

.card {
  min-height: 550px !important;
}

.ghost-container {
  background-color: ghostwhite;
}

.box-container .image{
  width: 80px;
}

@media screen and (min-width: 1024px) {
  .box-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .box-container .image{
    width: 100% !important;
  }

  .box-container .box {
    width: 60%;
  }
}

.blue-container {
  background-color: ghostwhite;
  color: #296fa8 !important;
}

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
}

.MoviesList-item {
  margin-bottom: 40px;
  width: 29.8%;
}

@media screen and (max-width: 1024px) {
  .MoviesList-item {
    margin-bottom: 20px;
    width: 100% !important;
  }

  .card {
    min-height: 450px !important;
  }
}